html {
	font-size:10px;
}
body {
	font-size:1.4rem;
	font-family:"Microsoft YaHei";
}
.wrapper {
	display:flex;
	flex-direction:column;
}

header {
	width:100%;
	height:84px;
	color:#ffffff;
}

.headerWrapper {
	width:58.5%;
	min-width:1120px;
	height:100%;
	margin:0 auto;
}

.QQgameLogo {
	width:145px;
	height:50px;
	text-indent:-9999em;
	background: url("../images/navigation/logo_qqgame.png") no-repeat center;
}

.top-search {
	border:2px solid #FF5A00;
	border-radius:16px;
	padding:5px 13px 5px 10px;
}
.top-search input {
	border:none;
	width:350px;
}

#top-search-btn {
	width:19px;
	height:19px;
	border:none;
	background:url("../images/sprites/header_sprite.png") no-repeat -48px 0;
	vertical-align:middle;
	cursor:pointer;
}

.top-download {
	padding:22px 15px 0 15px;
	font-size:1.2rem;
	color:#B0B0B0;
	border-right:1px solid #EBEBEB;
	background:url("../images/global/download.png") no-repeat top center;
}

.top-avatar {
	width:38px;
	height:38px;
	border-radius:38px;
	margin-left:15px;
	background:url("../images/global/avatar.png") no-repeat top center;
}
nav {
	height:47px;
	background-color:#2C2C2C;
}
nav a {
	color:#ffffff;
	font-size:1.6rem;
	font-weight:bold;
	height:43px;
	line-height:47px;
	text-align:center;
	flex:1 0 auto;
	background:url("../images/navigation/nav_sep.png") no-repeat right 17px;
}
nav a:last-child {
	background:none;
}
nav a:hover,nav .active {
	color:#FF5A00;
	border-bottom:4px solid #FF5A00;
}
.navWrapper {
	width:55%;
	height:100%;
	margin:0 auto;
}

#slider {
	width:100%;
	min-width:1120px;
	height:380px;
	min-height:380px;
	/*animation:fadeIn 4s linear 0ms infinite normal forwards;*/
}
/*@-webkit-keyframes fadeIn{
	0%{
		opacity: 1;
	}
	100%{
		opacity: 0.5;
	}
 }*/
#slider ul,#slider li {
	width:100%;
	height:100%;
}

#slider {
	display:block;
	width:100%;
	height:100%;
}

.thumbnail-item {
	background-color:rgba(0, 0, 0, 0.5);
	filter:none;
	padding:5px;
	margin-bottom:2px;
}

#slider-thumbnail img {
	opacity: 0.8;
}

#slider-thumbnail img.active {
	width:68px;
	min-width:68px;
	height:68px;
	min-height:68px;
	border:3px solid #FF5A00;
}

#slider-thumbnail .title {
	font-size:1.4rem;
	color:#ffffff;
}

#slider-thumbnail .title.active {
	color:#FF5A00;
}

#slider-thumbnail .intro {
	color:#A1A1A1;
	font-size:1.2rem;
	height:40px;
	overflow:hidden;
}
#slider-thumbnail .title {
	width:85%;
	margin:5px auto;
}
#slider-thumbnail .intro {
	width:85%;
	margin:0 auto;
}

.login-bar {
	width:100%;
	height:50px;
	min-height:50px;
	background-color:#F6F6F6;
	color:#888888;
	margin-bottom:20px;
}

.login-bar a {
	color:#FF5A00;
	text-decoration:underline;
}

.main-left {
	flex:3;
	margin-right:20px;
}

.main-title {
	font-size:2rem;
	margin-bottom:15px;
}
.category-title {
	border-left:5px solid #FF5A00;
	height:20px;
	line-height:20px;
	padding-left:10px;
}
.category-tab {
	flex:1;
	height:135px;
	border:1px solid #ccc;
}
.category-tab a {
	display: inline-block;
	margin: 0 6px;
	font-size: 1.4rem;
	color: #666666;
}

.category-tab a:after {
	content:"|";
	margin-left:8px;
	color:#cccccc;
}

.category-tab .sub-title {
	font-weight:bold;
	margin-top:10px;
}
.sort-content {
	border-top:2px solid #FF5A00;
}

.sort-icon {
	display:block;
	width:70px;
	height:70px;
}

.sort-content-icon  {
	background:url('../images/sprites/qqgamesprite.png') no-repeat 0 -250px;
}

.sort-category-icon {
	background:url('../images/sprites/qqgamesprite.png') no-repeat 0 -390px;
}

.sort-tag-icon {
	background:url('../images/sprites/qqgamesprite.png') no-repeat 0 -320px;
}
.sort-category {
	border-top:2px solid #147FE2;
	/*fix double border*/
	margin-left:-1px; 
}

.sort-tags {
	border-top:2px solid #FEA42B;
	margin-left:-1px;
}

.hot-game-showMore {
	color:#999999;
	font-size:1.4rem;
}
.hot-game-showMore:hover {
	color:#FF5A00;
}
#hot-games,#latest-games {
	flex-wrap:wrap;
}
#hot-games .rating-bar,#latest-games .rating-bar {
	flex:1;
	height:24px;
	background: rgba(0,0,0,0.5);
	font-size:1.2rem;
	margin:0 5px;
}
.rating-bar .category {
	color:#FFFFFF;
}
.rating-bar .rating {
	color:#FF5A00;
}
.game-tab {
	width:150px;
	min-width:150px;
	height:215px;
	min-height:215px;
}

.game-tab.tab-001 {
	background:url("../images/hot-game-pics/001.jpg") no-repeat center;
}
.game-tab.tab-002 {
	background:url("../images/hot-game-pics/002.jpg") no-repeat center;
}
.game-introWrap {
	margin:3px auto 15px auto;
	text-align:center;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	width: 150px;
}

.game-title {
	color:#111;
	font-weight:bold;
}

.game-description {
	color:#999999;
	line-height:18px;
	font-size:1.3rem;
	overflow:hidden;
	text-overflow:ellipsis;
}

/*右侧*/
.download-tab {
	margin-bottom:20px;
}

.download-QGame-title,.top-ranking-title {
	height:20px;
	line-height:20px;
}

.QGameDownload {
	display:block;
	width:278px;
	min-width:278px;
	height:108px;
	min-height:108px;
	background:url("../images/global/Qgame-download.png") no-repeat;
	position: relative;
	top: -14px;
}

.platform-selection {
	height:40px;
	margin-top:-14px;
}

.platform-selection a {
	flex:1;
	height:100%;
	border:1px solid #ccc;
	text-align: center;
	line-height: 40px;
	color:#666666;
}

.platform-selection a:hover {
	color:#FF5A00;
}

.platform-selection a:last-child {
	margin-left:-1px;
}

.platform-selection i {
	display:inline-block;
	width:17px;
	height:17px;
	margin-right:5px;
	
}
.platform-selection .tab-pc {
	background:url('../images/sprites/qqgamesprite.png') no-repeat 0 -88px;
}
.platform-selection .tab-mobile {
	background:url('../images/sprites/qqgamesprite.png') no-repeat 0 -71px;
	margin-left:-1px;
}
.top-ranking-tab {
	margin-bottom:75px;
}
.ranking-selection .ranking-selection-title {
	flex:1;
	height:35px;
	min-height:35px;
	border:1px solid #E3E3E3;
	background-color:#F5F5F5;
}

.ranking-selection .ranking-selection-title.active {
	font-weight:bold;
	background-color:#FFFFFF;
	border-bottom-color:transparent;
}

.ranking-content-wrapper {
	flex-direction:column;
}
.ranking-content {
	height:36px;
	min-height:36px;
}
.ranking-content .ranking-number {
	font-size:1.4rem;
	color:#7F7F7F;
	text-align:right;
	margin-right:8px;
}
.ranking-content .ranking-number.top-3 {
	font-size:2.8rem;
	color:#FF5A00;
}

.ranking-content .ranking-count {
	color:#7F7F7F;
}

.new-server-title {
    border-bottom:1px solid #E5E5E5;
    height:40px;
    margin-bottom:0;
}

.new-server-header {
	margin-bottom:5px;
}

.server-game-icon {
	width:16px;
	height:16px;
	background: url(../images/server-timetable-pics/0.png) no-repeat;
	background-size:cover;
	margin-right:5px;
}
.server-game-name {
	font-weight:bold;
}
.new-server-content {
    color: #666666;
    margin-top: 10px;
}
.new-server-content:hover {
	color:#FF5A00;
}
.server-time {
	padding-left: 20px;
    background: url(../images/sprites/qqgamesprite.png) no-repeat 0 -40px;
    display: inline-block;
    height: 15px;
    line-height: 15px;
}